<div class="container-fluid text-center">
  <div class="row">
    <div class="col img">
      <img src="../../../assets/wp.jpg" class="img-fluid">
      <button class="btn" routerLink="/registration" (click)="onRegistration()">Registration</button>
    </div>
  </div>
  <div class="row content">
    <div class="col">
      <h1>WELCOME!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias aspernatur assumenda aut corporis, culpa deserunt error fuga illum in incidunt inventore iste laboriosam,
        laborum, molestiae neque numquam optio perferendis quae quas quasi ratione reprehenderit sequi ut veniam voluptatem!
        Distinctio dolorem molestiae optio. Accusantium aperiam at cumque excepturi fugit ipsa optio quasi quibusdam ratione rem.
        A ad aliquid autem beatae consectetur deleniti deserunt dignissimos dolore enim eos eum ex fuga,
        fugit harum ipsum iure, iusto magnam magni minima molestias natus nihil nisi nobis numquam odio pariatur
        placeat porro quam quas qui quos rem repellat rerum similique unde veniam voluptatibus! A eaque ex expedita
        molestias, nobis placeat possimus unde! At eaque, eligendi eum harum hic ipsam minima natus nobis porro provident,
        quaerat quas quisquam repellat ullam voluptatum. Aperiam blanditiis consequuntur doloremque illum inventore ipsum
        iste laborum molestiae nesciunt nostrum obcaecati quas quibusdam repellendus saepe sunt tempora temporibus ullam unde,
        vel velit. Ab aliquam animi assumenda at autem blanditiis consequatur cumque delectus deleniti dolores dolorum ducimus
        error eum excepturi harum in iste laboriosam laborum laudantium maiores necessitatibus, nobis odit pariatur praesentium
        quae quam quas quos rerum saepe sed similique soluta tempora tenetur ut veniam voluptatem voluptatibus? Ab asperiores
        debitis delectus dolorum ex facilis impedit libero minus nisi possimus quas quia quibusdam repellendus, sequi sint
        tempora tempore ullam ut? Ad aliquid ipsum itaque minus pariatur, perspiciatis. At consectetur doloremque doloribus
        dolorum earum exercitationem explicabo fuga harum id illo ipsum iste laboriosam non possimus, quia quibusdam, rerum sequi,
        sint tempora totam ut voluptas voluptatibus! Adipisci dignissimos, doloremque earum esse, eum ex explicabo
        facilis fuga fugiat impedit iure molestiae necessitatibus perspiciatis quidem quis rem reprehenderit rerum
        sapiente sunt suscipit totam ut veniam. Accusamus alias aperiam assumenda corporis dolore explicabo illo, molestias,
        praesentium, quidem quis reiciendis sunt unde. Aut est fugiat nam natus quas qui quo sint.</p>
    </div>
  </div>
</div>
